.taskItem {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;

  .taskItemWrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    &:hover .right {
      display: flex;
    }

    .left {
      display: flex;
      gap: 10px;

      .checkbox {
        width: 20px;
        height: 20px;
        appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        border: 2px solid #7c3aed;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        display: inline-block;
        margin-right: 8px;
        vertical-align: middle;
        transition: background 0.2s ease-in-out;
      }

      .checkbox:checked {
        background-color: #7c3aed;
      }

      .checkbox:checked::after {
        content: "✓";
        color: white;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 4px;
      }
      .block {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .taskTitle {
          font-size: clamp(16px, 2vw, 20px);
          font-weight: 600;
          transition: all 0.2s ease;
          cursor: pointer;
        }
        .checkedTitle {
          text-decoration: line-through;
          color: gray;
          font-weight: 500;
        }
        .taskDetails {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .taskDeadline {
            color: gray;
          }
          .taskDescription {
            font-size: 16px;
          }
        }
      }
    }

    .right {
      display: none;
      gap: 8px;

      .iconPencil {
        cursor: pointer;
        color: #aaa;
        transition: color 0.2s;

        &:hover {
          color: #7a5cff;
        }
      }

      .iconDelete {
        cursor: pointer;
        color: #aaa;
        transition: color 0.2s;

        &:hover {
          color: #e50000;
        }
      }
    }
  }

  .divider {
    border: none;
    border-top: 1px solid #7a5cff;
  }
}
